

/* -------------- html --------------- */

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  width: 100%;
  min-width: 800px;
  margin: 0;
  padding: 0;
  top: 0;
  font-family: 'Century Gothic', sans-serif;
  color: #4b4b4b;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 30px;
    padding: 0;
}

h3 {
  font-size: 25px;
    padding: 0;
}

p {
  font-size: 17px;
    padding: 0;
}

/* -------------- navbar --------------- */

.navbar {
  width: 100%;
  position:fixed;
  top: 0;
  margin: 0;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 15px;
  background-color: #034854;
  color: white;
  text-align: center;
  z-index: 5;
  box-shadow: 1px 1px 2px #cccccc;
}

.navbarButtons {
  width: 125px;
  margin: 0px 20px;
  padding: 7px 30px;
  border: solid 2px white;
  border-radius: 50px;
}

#navbarCategories {
  margin: 0px 0px 0px 0px;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

#navbarCategories a {
  text-decoration: none;
  color:inherit;
}

.navbarButtons:hover {
  color: #034854;
  background-color: white;
  font-weight: 600;
}


/* -------------- Tools --------------- */

section {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.subDivider {
  margin: auto;
  width: 200px;
  height: 1px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}

.Divider {
  margin: auto;
  width: 80%;
  height: 1px;
  background-color: #4b4b4b;
  margin-top: 30px;
  margin-bottom: 20px;
}

.Divider-Full {
  margin: auto;
  width: 100%;
  height: 1px;
  background-color: #4b4b4b;
  margin-top: 100px;
  margin-bottom: 10px;
}

.Divider-dot {
  border-top: dotted 2px #9c9c9c;
  margin: auto;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contentContainer {
  max-width: 1000px;
  padding: 0px 20px;
}

.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.dot {
  width: 100px;
  padding-left: 30px;
}

.SubTitle {
  font-size: 45px;
  padding-top: 50px;
}

/* -------------- Introduction --------------- */

#introductionSection {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background-color: white;
  color: #034854;
}

#titleHeader h1 {
  font-size: 70px;
}

#titleHeader h2 {
  font-size: 25px;
  margin: 0px;
}

#titleHeader h3 {
  font-size: 30px;
  margin: 0px;
}

#titleHeader i {
  color: #E35728;
}

#brandTitle {
  padding-bottom: 50px;
}

.timelineContainer {
  max-width: 1000px;
  position: relative;
  top: -70px;
  height: 200px;
  object-fit: cover;
  /* background-color: red; */

}

#timeline {
  margin-top: -50px;
  width: 1000px;
  height: auto;
  filter: invert(60%);
}


.underline-white {
  width: 250px;
  height: 5px;
  margin: auto;
  margin-bottom: 50px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.underline-white-full {
  width: 820px;
  height: 5px;
  margin: auto;
  margin-bottom: 100px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

#introductionSpace {
  height:100px;
}

#overviewContainer {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: 150px;
}

#peopleContainer {
  display: flex;
  vertical-align: middle;
  padding: 80px 0px;
  border: solid 3px #034854;
  background-color: #034854;
  color: white;
  border-radius: 20px;
}

#people-border {
  height: 120px;
  width: 300px;
  padding: 10px 20px 20px 20px;
}

#turnover {
  border-radius: 10px;
  background-color: white;
  color: #034854;
  padding: 10px 10px 25px 10px;
  margin-top: 30px;
}

#peopleContainer h1 {
  font-size: 40px;
}

#countryContainer {
  padding-left: 40px;
}


#map {
  max-width: 1000px;
}

.circle {
  width: 110px;
  height: 110px;
  border: solid 3px #034854;
  border-radius: 20px;
  margin: 10px;
  transition: all .2s ease-in-out;
}

.circle h3 {
  font-size: 20px;
  padding-top: 12px;

}

.circle p {
  font-size: 15px;
  margin-top: -7px;
}

.circle:hover {
  background-color: #034854;
  color: white;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

#countryList {
  display: flex;
  align-items: center;
  justify-content: center;
}

#introductionSpace1 {
  padding-top: 80px;
}

#cycle-title {
  margin: 0;
}

#cycle-img {
  width: 1000px;
  margin: 0px 0px 50px 0px;
}

#chart-img {
  width: 800px;
  transition: all .2s ease-in-out;
}

#chart-img:hover {
  transform: scale(1.15);
}

.underline2 {
  width: 80%;
  height: 1px;
  margin: auto;
  margin-bottom: 50px;
  border-top: solid 2px #4b4b4b;
}

/* -------------- brandsSection --------------- */

#brandSection {
  padding: 100px 0px;
  text-align: center;
  background-color: white;
  color: #4b4b4b;
}

#brandTitle {
  margin-bottom: -40px;
  font-size: 48px;
}

.underline {
  width: 400px;
  height: 5px;
  margin: auto;
  margin-bottom: 50px;
  border-top: solid 1px #4b4b4b;
  border-bottom: solid 1px #4b4b4b;
}

#titleHeader h1 {
  font-size: 70px;
}

#titleHeader h2 {
  font-size: 25px;
  margin: 0px;
}

#titleHeader h3 {
  font-size: 30px;
  margin: 0px;
}

#vgroupTitle {
  font-size: 50px;
  padding-bottom: 30px;
}

.logoGroups {
  margin: auto
  display: flex;
  justify-content: center;
  border: solid 3px #4b4b4b;
  border-radius: 20px;
  padding: 20px;
}

.circle-img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: red;
  margin: 0px 20px;
  transition: all .1s ease-in-out;
}

.circle-mask {
  -webkit-mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0) 0%);
  mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0) 100%);
}

.circle-img:hover {
  transform: scale(1.2);
}

.dataChart {
  max-width: 900px;
  border: solid 3px #4b4b4b;
  border-radius: 20px;
  padding: 5px;
  margin: 50px 0px;
}

.dataChart img {
  width: 800px;
}

.dataPresentationContainer {
  /* height: 250px; */
  display: flex;
  justify-content: center;
  margin: 70px 0px 20px 0px;
}

.dataPresentationContainerChart {
  height: 250px;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 50px 0px;
}

.dataPresentationContainerChart h1 {
  padding-top: 10px;
}

.dataPresentation {
  margin: 0px 20px;
}

.dataPresentation h1 {
  font-size: 45px;
  margin: -10px;
}

.dataPresentation h2 {
  font-size: 18px;
}

.dataPresentation h3 {
  font-size: 20px;
  font-style: italic;
}

.pill {
  width: 250px;
  background-color: #4b4b4b;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

#PnL h1{
  font-size: 50px;
}

#PnL h3{
  font-size: 25px;
}

#PnLDivider {
  background-color: #4b4b4b;
  height: 3px;
  width: 100px;
  margin: auto;
}

.circle-text {
  display: flex;
  vertical-align: middle;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: #990000;
  margin: auto;
}

.circle-text h2 {
  color: white;
  font-size: 30px;
  padding: 0;
  margin: auto;
  /* padding: 35px 20px; */
}

.circle-img-large {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: red;
  margin: 0px 20px;
}

table {
  margin: auto;
  width: 500px;
  border-collapse: collapse;
}

.row1 {
  border-right: solid 1px #7b7b7b;
}

tr {
  height: 200px;
}

td h1 {
  font-size: 35px;
}

.ownBrands {
  /* border: solid #4b4b4b 4px; */
  border-radius: 50px;
  margin: 10px 0px;
  padding: 20px 0px;
}

.tagline {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.tagline img {
  display: block;
  object-fit: scale-down;
}

#igroup {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 50px 0px;
}

#igroup h1 {
  font-size: 40px;
  padding-right: 30px;
  margin: 0;
}

.tagline h1,h2,h3 {
  margin: 10px;
  font: Times, serif;
}

.tagline h1 {
  font-size: 40px;
}

.tagline h2 {
  font-size: 35px;
}

.tagline h3 {
  font-size: 30px;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pieChart {
  display: flex;
  justify-content: center;
  max-width: 200px;
  width: 250px;
  margin: 10px 0px;
  transition: all .2s ease-in-out;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:200px;

  width:var(--w);
  height:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .25s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

.fullPie {
  position: absolute;
}

#frontPie {
  z-index: 3;
}

#backPie {
  z-index: 1;
}



/* -------------- Working Model --------------- */

#ModelSection {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background-color: #034854;
  color: white;
}

#titleHeader h1 {
  font-size: 70px;
}

#titleHeader h2 {
  font-size: 25px;
  margin: 0px;
}

#titleHeader h3 {
  font-size: 30px;
  margin: 0px;
}

.infoChart {
  width: 100%;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 100px;
  background-color: white;
}

.infoChart img {
  margin: auto;
  width: 900px;
  padding: 20px;
}


.underline-white {
  width: 400px;
  height: 5px;
  margin: auto;
  margin-bottom: 50px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

#title-tagline {
  width: 400px;
  border-radius: 50px;
  background-color: white;
  color: #034854;
  padding: 5px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#levelsContainer {
  height: 300px;
  object-fit: cover;
  /* background-color: red; */
}

#levelsContainer img {
  position: relative;
  top: -250px;
  margin: auto;
}

#levels {
  width: 100%;
}

.change {
  background-color: white;
  border-radius: 20px;
  padding: 60px 0px 30px 0px;
  width: 100%;
}

.change img {
}

.change h2 {
  color: #4b4b4b;
  padding-bottom: 30px;
}

.usp {
  display: flex;
  justify-content: center;
}

.usp-content {
  margin: 0px 20px;
}

.circle-usp {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 110px;
  height: 110px;
  border: solid 4px white;
  border-radius: 200px;
  margin: 10px 20px;
  transition: all .2s ease-in-out;
}

.circle-usp h1 {
  padding-top: 18px;
  font-size: 50px;
}

.circle-usp:hover {
  background-color: #FF8E5C;
  border: solid 4px #FF8E5C;
  color: #034854;
}

.usp-content h3:hover {
  color: #FF8E5C;
}
